body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px;

}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;


    display: flex;
    flex-direction: column;
    gap: 15px;
}

.from-row{
    display: flex;
    align-items: center;


}

.from-row label{
    width: 120px;
    margin-right: 10px;
    font-weight: bold;
}

.from-row input[type="text"],
.from-row input[type="email"],
.from-row select
.from-row textarea{
    flex-grow: 1; 

    padding: 8px;
    box-sizing: border-box;
    border: 1px solid  red;
    border-radius: 4px;

}

.checkbox-row{
    display: flex;
    align-items: center;

}

.checkbox-row label{
    margin: 10px;

}

.button-row{
    text-align: right;

}
button [type="submit"]{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: blueviolet;
}

