body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 20px;

}

h1{
    text-align: center;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15;
    
    padding: 10px;
    border: 1px solid black;
    background-color: chartreuse;
    max-width: 1000px;
    margin: 0 auto;
}

.product-card{
    flex: [grow] [shink] [basis];
    flex: 1 1 200px;

    min-height: 100px;
    background-color: blue;
    border: 1px solid  gray;
    border-radius: 5px;
    
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}