body{
    font-family:Arial, Helvetica, sans-serif;
margin: 0; 
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    color: white;
    padding: 10px 20px;
}  
.logo{
    font-size: 1.5em;
    font-weight: bold;

}

.nav-menu{
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    gap: 25px;

}
.nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 1em;

}
.nav-menu a:hover {
    color: rgb(255, 255, 255);

}